@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Dashboard";
}
<div>
    <h1>Admin Dashboard</h1>
    <a class=" btn btn-outline-secondary btn-sm mt-2 mb-3" asp-action="Logout">Log Out</a>

    <p class=""> Welcome to the Admin Control Panel</p>


    <div class="d-grid gap-2 col-3 pt-4">
        <a class=" btn btn-outline-primary" asp-controller="Cars" asp-action="Index">Manage Cars</a>
        <a class=" btn btn-outline-primary " asp-controller="Customers" asp-action="Index">Manage Customers</a>
        <a class=" btn btn-outline-primary" asp-controller="Bookings" asp-action="Index">Manage Bookings</a>
    </div>
</div>

