@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Login";
}

<h1>Admin Login</h1>

<form asp-action="Index" method="post">
    <div class="row">
        <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

        <label>Email</label>
        <div class="col-md-4">
            <input type="email" name="email" class="form-control" required />
        </div>
        <label>Password</label>
        <div class=" col-md-4">

            <input type="password" name="password" class="form-control" required />
        </div>
        <span class="text-danger">@ViewBag.Error</span>
    </div>

    <div class=" pt-2">
        <button type="submit" class="btn btn-primary mt-2">Login</button>
    </div>

</form>
