@model FribergCarRentalApp.Models.Booking

@{
    ViewData["Title"] = "CreateBooking";
}

<h1>CreateBooking</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBooking">
            <input type="hidden" name="CarId" value="@Model.CarId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="StartDate" class="col-form-label"></label>
                <div class="col-6">
                    <input asp-for="StartDate" class="form-control" value="" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="EndDate" class="col-form-label"></label>
                <div class="col-6">
                    <input asp-for="EndDate" class="form-control" value="" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Back to List</a>
            </div>
            
        </form>
    </div>
</div>

<div>
</div>
@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("form").addEventListener("submit", function (e) {
            let startDateInput = document.getElementById("StartDate");
            let endDateInput = document.getElementById("EndDate");

            let startDate = new Date(startDateInput.value);
            let endDate = new Date(endDateInput.value);

            if (startDate >= endDate) {
                e.preventDefault(); // Prevent form submission
                alert("Start date cannot be same or later than the end date.");
                startDateInput.classList.add("is-invalid");
                endDateInput.classList.add("is-invalid");
            } else {
                startDateInput.classList.remove("is-invalid");
                endDateInput.classList.remove("is-invalid");
            }
        });
    });
</script> *@



